.todo-item {
  display: flex; 
  gap: 15px; 
}

.todo-item .toggle-done {
  width: 25px; 
  height: 25px;
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  background-image: url("./img/circle-outline.svg"); 
  background-repeat: no-repeat; 
  filter: var(--black-icon-dark-filter); 
}

.todo-item .toggle-done.done {
  background-image: url("./img/circle-slice-8.svg"); 
}

.toggle-done.high-priority {
  filter: brightness(0) saturate(100%) invert(20%) sepia(46%) saturate(6178%) hue-rotate(353deg) brightness(78%) contrast(91%);
}

.toggle-done.medium-priority {
  filter: brightness(0) saturate(100%) invert(55%) sepia(60%) saturate(619%) hue-rotate(355deg) brightness(92%) contrast(90%);
}

.toggle-done.low-priority {
  filter: brightness(0) saturate(100%) invert(37%) sepia(64%) saturate(1107%) hue-rotate(179deg) brightness(86%) contrast(92%);
}

.toggle-done.no-priority {
  filter: var(--black-icon-dark-filter); 
}

.todo-item .summary {
  width: 100%; 
  display: flex; 
  flex-direction: column;
  max-width: calc(100% - 35px); 
}

.complete .summary .title {
  color: rgb(80, 80, 80); 
  text-decoration: line-through; 
}

.summary .header {
  display: flex;
}

.header .title {
  max-width: calc(100% - 110px);
  flex: 1; 
  font-size: 0.9em; 
  font-weight: 500; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 4; 
  overflow: hidden; 
}

.header .options {
  display: none; 
}

.todo-item:hover .options {
  flex: none; 
  display: flex; 
  gap: 7px; 
  align-items: center; 
}

.options button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  width: 23px; 
  height: 23px; 
  background-repeat: no-repeat; 
  filter: var(--black-icon-dark-filter); 
}

.options .expand {
  background-image: url("./img/eye-outline.svg"); 
}

.options .expand:hover {
  background-image: url("./img/eye.svg");
}

.options .edit {
  background-image: url("./img/pencil-outline.svg"); 
}

.options .edit:hover {
  background-image: url("./img/pencil.svg");
}

.options .delete {
  background-image: url("./img/delete-outline.svg");
}

.options .delete:hover {
  background-image: url("./img/delete.svg");
}

.summary .description {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.summary .description, 
.summary .due-date {
  font-size: 0.8em; 
  color: var(--dark-color); 
}

.title, 
.description, 
.due-date {
  margin: 3px; 
}

.due-date {
  display: flex; 
  align-items: center; 
}

.due-date img {
  width: 14px; 
  height: 14px; 
  margin-right: 5px; 
  position: relative; 
  top: -0.5px; 
  filter: var(--black-icon-dark-filter); 
}

dialog.item-detail {
  width: 600px; 
  height: 375px; 
  border: none; 
  border-radius: 20px; 
  color: var(--dark-color); 
}

.item-detail .close-dialog {
  background-color: transparent; 
  border: none; 
  width: 30px; 
  height: 30px; 
  background-image: url("./img/close.svg"); 
  background-repeat: no-repeat; 
  filter: var(--black-icon-semi-light-filter); 
  cursor: pointer; 
}

.item-detail .close-dialog:hover {
  filter: var(--black-icon-dark-filter); 
}

.item-detail img {
  width: 16px; 
  height: 16px; 
  margin-right: 8px; 
  position: relative; 
  top: 2px; 
  filter: var(--black-icon-dark-filter); 
}