.todo-item {
  border: 1px solid black; 
  display: flex; 
  gap: 10px; 
}

.todo-item .toggle-done {
  width: 100px; 
  height: 30px; 
}

.toggle-done.high-priority {
  background-color: red;
}

.toggle-done.medium-priority {
  background-color: orange;
}

.toggle-done.low-priority {
  background-color: skyblue;
}

.todo-item .summary {
  flex: 1; 
  display: flex; 
  flex-direction: column;
}

.summary .header {
  display: flex;
}

.header .title {
  flex: 1; 
  font-size: 1em;
}

.summary .description {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.summary .description, 
.summary .due-date {
  font-size: 0.9em; 
  color: rgb(80, 80, 80)
}

.title, 
.description, 
.due-date {
  margin: 3px; 
}