.todo-item {
  border: 1px solid black; 
  display: grid; 
  grid-template-columns: 120px 1fr min-content;
  grid-template-rows: 1fr min-content; 
}

.todo-item .toggle-done, 
.todo-item .delete {
  align-self: center;
  width: 70px; 
  height: 50px;
  grid-row: 1; 
}

.todo-item .toggle-done {
  grid-column: 1;
}

.todo-item .done {
  grid-column: 1;
  grid-row: -1;
}

.todo-item .summary {
  grid-column: 2;
  grid-row: 1 / -1; 
  display: grid; 
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: min-content min-content;
}

.todo-item .title {
  grid-row: 1; 
}

.todo-item .description {
  grid-row: 2; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.todo-item .due-date {
  grid-column: 1;
  grid-row: -1; 
}

.todo-item .priority {
  grid-column: -1;
  grid-row: -1
}

.todo-item .delete {
  grid-column: -1;
}