.todo-item {
  border: 1px solid black; 
  display: grid; 
  grid-template-columns: 120px minmax(200px, 70vw) min-content;
  grid-template-rows: 1fr min-content; 
}

.todo-item .toggle-done, 
.todo-item .delete {
  align-self: center;
  width: 70px; 
  height: 50px;
  grid-row: 1; 
}

.todo-item .toggle-done {
  grid-column: 1;
}

.toggle-done.high-priority {
  background-color: red;
}

.toggle-done.medium-priority {
  background-color: orange;
}

.toggle-done.low-priority {
  background-color: skyblue;
}

.todo-item .summary {
  grid-column: 2;
  grid-row: 1 / -1; 
  display: flex; 
  flex-direction: column;
}

.summary .description {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.todo-item .delete {
  grid-column: -1;
}