.add-todo-form {
  border: 1px solid black; 
}

.todo-item {
  border-bottom: 1px solid rgb(180, 180, 180); 
  padding: 10px 0px; 
}

.add-todo-button {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  width: 100%; 
  height: 45px; 
  background: none; 
  border: none; 
  color: rgb(150, 150, 150); 
  cursor: pointer; 
}

.add-todo-button:hover {
  color: var(--dark-color); 
}

.add-todo-button img {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  filter: brightness(0) saturate(100%) invert(62%) sepia(16%) saturate(18%) hue-rotate(338deg) brightness(94%) contrast(89%);
}

.add-todo-button .plus-icon {
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
}

.add-todo-button:hover .plus-icon {
  background-color: var(--dark-color);
}

.add-todo-button:hover img {
  filter: invert();
}

.todo-form {
  display: grid; 
  grid-template-rows: repeat(3, min-content); 
  grid-template-columns: 90px min-content 90px min-content 1fr repeat(2, min-content);
  gap: 5px; 
  border: 1px solid rgb(180, 180, 180); 
  border-radius: 10px;
  padding: 10px; 
  margin-top: 5px; 
}

.todo-form #title {
  grid-row: 1; 
  grid-column: 1 / -1;
  font-size: 1.1em; 
  font-weight: bold; 
  border: none; 
  color: var(--dark-color); 
}

.todo-form #title:focus {
  outline: none; 
}

.todo-form #description {
  grid-row: 2; 
  grid-column: 1 / -1;
  font-family: var(--font-family); 
  border: none; 
  resize: none; 
  color: var(--dark-color); 
}

.todo-form #description:focus {
  outline: none; 
}

.todo-form .due-date-label {
  grid-row: 3; 
  grid-column: 1; 
  color: var(--dark-color); 
  align-self: center; 
}

.todo-form #due-date {
  grid-row: 3; 
  grid-column: 2; 
  color: var(--dark-color); 
  border: rgb(180, 180, 180) 1px solid; 
  border-radius: 5px; 
  font-family: var(--font-family); 
  padding-left: 5px; 
}

.todo-form .priority-label {
  grid-row: 3; 
  grid-column: 3; 
  text-align: right;
  color: var(--dark-color); 
  align-self: center;
}

.todo-form #priority {
  grid-row: 3; 
  grid-column: 4; 
  color: var(--dark-color); 
  border: rgb(180, 180, 180) 1px solid; 
  border-radius: 5px; 
}

.todo-form .cancel, 
.todo-form .save {
  width: 70px; 
  height: 30px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  color: white; 
  background-color: var(--semi-dark-color); 
}

.todo-form .cancel:hover, 
.todo-form .save:hover {
  background-color: var(--dark-color); 
}

.todo-form .cancel {
  grid-row: 3; 
  grid-column: -3; 
}

.todo-form .save {
  grid-row: 3; 
  grid-column: -2; 
}